assets
backup
config
crash-reports
defaultconfigs
libraries
logs
runtime
menkrep_1.18.2
mods
resourcepacks
screenshots
tlauncher_libraries
launcher_profiles
TempOptifineStore-1.0
TLauncher
TlauncherProfiles
